snapshots
gifs
venv
__pycache__
config.yaml
watcher-code.tar
src2


# Python build artifacts
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
venv/

# IDE settings
.vscode/
.idea/